*{
    padding: 0px;
    margin: 0px;
}

:root {
    --branco-principal: #ffffff;
    --cinza-secundario: #C0C0C0;
    --botao-zul: #167BF7;
    --cor-de-fundo: #00030C;

    --fonte-principal: 'Inter';
}

body{
    background-image: url(./assets/Background.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    height: 100vh;
}

.conteudo__principal__caixa{
    display:flex;
    flex-direction: column;
    margin: 12em 0rem 0rem 12em;
    text-align: center;
    max-width: 518px;
    gap: 15px;
}

.conteudo__caixa__titulo{
    font-family: var(--fonte-principal);
    font-size: 28px;
    font-weight: 700;

}

.titulo__secundario{
    font-family: var(--fonte-principal);
    font-size: 48px;
    font-weight: 700;
}

.conteudo__caixa__imagem{
    max-width: 588px;
    max-height: 102px;
    background: transparent;
}

.conteudo__caixa__link{
    font-family: var(--fonte-principal);
    font-size: 16px;
    background-color: var(--botao-zul);
    max-width: 480px;
    border-radius: 16px;
    color: var(--branco-principal);
    text-decoration: none;
    padding: 1em;


}

.conteudo__caixa__link__secundario{
    background: transparent;
    border: 2px solid var(--branco-principal);
}

.conteudo__caixa__textos{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    gap: 15px;

}

.caixa__secundaria__titulo{
    font-family: 'Inter';
    height: 700;
    font-size: 48px;
    margin: 0;
}

.caixa__texto{
    display: flex;
    justify-content: start;
    font-family: var(--fonte-principal);
    color: var(--cinza-secundario);
    font-size: 16px;

}

.conteudo__caixa__secundaria{
    display: flex;
    margin-top: 400px;
    justify-content: left;
    height: 560px;
    margin-left:12rem;
    gap: 12rem;
    position: relative;

}

.imagem__principal{
    width: 684px;
    height: 560px;
}


#segunda__imagem__caixa__secundaria{
    position: absolute;
    max-width: 227px;
    max-height: 144px;
    transform: translate(250px, -260px); 
    z-index: 2;
}

.conteudo__caixa__terciaria{
    display: flex;
    flex-direction: row-reverse;
    justify-content:left;
    margin-top: 400px;
    height: 560px;
    margin: 12rem 0rem 0 12rem;
    gap: 12rem;

}

.caixa__link{
    text-decoration: none;
    color: var(--branco-principal);
    font-size: 16px;
    padding: 1em;
    border-radius: 1em;
    background-color: var(--botao-zul);
    display: flex;
    width: 130px;
    justify-content: center;
}

.conteudo__caixa__quartenaria{
    display: flex;
    justify-content:left;
    margin-top: 400px;
    height: 560px;
    margin: 12rem 12rem 0 12rem;
    gap: 12rem;
}


.caixa__final{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
    gap: 3rem;
}
.caixa__final__flex{
    display:flex;
    text-align: center;
}

.caixa__final__flex__titulo{
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 700;
}

.rodape{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    margin-top: 12rem;
    gap:3rem;
}

.rodape__links{
    display: flex;
    gap:15px;
}

.rodape__links__link{
    font-size:16px;
    font-family:'Inter';
    text-decoration: none;
    color: var(--branco-principal);
}

.rodape__texto{
    font-family: 'Inter';
    color:var(--cinza-secundario);
    text-align: center;
    margin: 0 6rem 3rem 6rem;
}

